@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

@keyframes animatedBackground {
  from {
    background-position: 0px 0;
  }
  to {
    background-position: -1572px 0;
  }
}

@media only screen and (max-width: 991px) {
  .download-button {
    max-width: 140px;
  }
  .section-reviews {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  body,
  h1,
  p {
    text-align: center !important;
  }

  img[src="./images/hero.png"] {
    margin-bottom: 20px;
  }
  p {
    margin: auto;
  }
}

html,
body {
  background-color: #202020;
  padding-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

h1 {
  height: fit-content;
  font-weight: 700 !important;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  height: fit-content;
  font-weight: 500 !important;
  font-family: "Ubuntu", sans-serif;
}

p {
  font-size: 22px;
  height: fit-content;
}

.material-icons {
  background-color: transparent;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-item,
.nav-link {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 16px;
  opacity: 70%;
  transition: 0.3s ease;
}

.nav-link:hover {
  opacity: 1;
  transition: 0.3s ease;
}

.btn-fill {
  background-color: #0077ff;
  border-radius: 50px;
  border: none;
  padding: 5px 15px;
  color: white;
  transition: 0.3s ease;
}

.btn-fill:hover {
  background-color: #0057bb;
  transition: 0.3s ease;
}

.section-hero {
  padding: 70px 0px;
  padding-bottom: 120px;
  background-color: #f6f6f6;
  background-image: url(./images/bg-tech.jpg);
  background-size: cover;
}

.download-button {
  max-height: 50px;
  margin-right: 10px;
  cursor: pointer;
  margin: 15px auto;
}

.section-about {
  padding: 100px 0px;
  color: white;
  background-color: #0077ff;
}

.section-demo {
  padding: 100px 0px;
  padding-bottom: 0px;
  background-color: #f6f6f6;
}

.section-apps {
  color: #202020;
  padding: 100px 0px;
}

.col-image-app {
  max-width: 800px !important;
  padding: 20px;
  margin: auto;
}

.app-icons {
  max-width: 80px;
  border-radius: 15px;
  filter: drop-shadow(3px 3px 10px #2020201c);
}

.app-text {
  padding-top: 10px;
  max-width: 550px;
}

#teacher {
  background-color: white;
}

#student {
  background-color: #f6f6f6;
}

#parent {
  background-color: white;
}

/* Section Features Starts Here */

.section-features {
  padding: 100px 0px;
  background-color: #ffffff;
}

.features-box {
  min-height: 400px;
  height: auto;
  padding: 40px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  transition: 0.3s;
  border: 2px solid #ebebeb;
}

.features-box:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 20px #20202017);
}

.text-features {
  padding: 0px 20px;
}

/* Section Reviews Starts Here */

.section-reviews {
  padding-top: 0px;
  padding-bottom: 100px;
}

.carousel {
  background: transparent;
}

.carousel-cell {
  width: 100%;
  height: auto !important;
  padding: 50px 70px;
  background: transparent;
  border-radius: 40px;
  counter-increment: carousel-cell;
  filter: drop-shadow(0px 0px 30px #d3d3d35d);
}

.carousel-image {
  width: 100%;
  height: 100%;
}

.flickity-enabled.is-draggable .flickity-viewport {
  height: 400px !important;
}

.section-customers {
  padding: 100px 0;
}

.customers-slide {
  height: 400px;
  width: 1368px;
  background-color: transparent;
  background-image: url("images/image-loop.png");
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
  line-height: 400px;
  transition-duration: 0.4s;
}

.section-info {
  padding: 50px;
  background-color: #0077ff;
}

.info-table {
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.section-info {
  padding: 50px;
  background-color: #0077ff;
}

.info-table {
  width: 100%;
  text-align: center;
  color: #ffffff;
}

/* Section Plans Starts Here */

.section-plans {
  background-color: #ffffff;
  padding: 150px 5px;
}

.plan-box {
  border-top: 10px solid #b6b6b6;
  border-radius: 15px;
  background: #ffffff;
  margin: 20px;
  padding: 40px;
  transition-duration: 0.4s;
  filter: drop-shadow(0px 0px 50px #33333310);
}

.plan-box:hover {
  border-top: 10px solid #b6b6b6;
  margin-top: -10px;
  filter: drop-shadow(0px 0px 50px #3333331f);
}

.plan-text-list {
  font-size: 18px;
}

.button1 {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: #0077ff;
  border: 2px solid #0077ff;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 80px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button1:hover {
  background-color: #0077ff;
  border: 2px solid #0077ff;
  transition-duration: 0.3s;
  color: #ffffff;
}

.button2 {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #0077ff;
  color: #ffffff;
  border: 2px solid #0077ff;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 80px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button2:hover {
  background-color: #0057bb;
  border: 2px solid #0057bb;
  transition-duration: 0.3s;
}

.footer {
  background-color: #272727;
  padding: 50px;
  display: flex;
}

.contact {
  text-align: center;
}

.map {
  width: 90%;
  margin: 10px;
  opacity: 50%;
  transition: 0.4s;
  border-radius: 10px;
}

.map:hover {
  opacity: 80%;
}

.input {
  background-color: #3d3d3d;
  width: 90%;
  margin: 10px;
  padding: 15px 15px;
  border-radius: 7px;
  border: none;
}

.logo-edusoft {
  filter: grayscale(1);
  transition: 0.3s ease;
}

.logo-edusoft:hover {
  filter: none;
  transition: 0.3s ease;
}
