@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
    width: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .hero-image,
  .header-hero,
  .text-hero {
    width: 100%;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0px 0;
  }
  to {
    background-position: -1572px 0;
  }
}

* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  background-color: transparent;
}

li,
a,
button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(134, 134, 134);
  text-decoration: none;
  outline: none;
}

body {
  margin: auto;
  margin-top: 0;
}

header {
  z-index: 1;
  width: 100%;
  max-height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffe1;
  padding: 20px 0;
  border-bottom: 2px solid #f3f3f3;
  backdrop-filter: blur(15px);
  overflow: hidden;
  position: fixed;
}

.logo {
  background-color: transparent;
  cursor: pointer;
}

.nav_links {
  background-color: transparent;
  list-style: none;
}

.nav_links li {
  background-color: transparent;
  display: inline-block;
  padding: 0px 15px;
}

.nav_links li a {
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0077ff;
  font-weight: 500;
}

.material-icons {
  background-color: transparent;
  padding-right: 10px;
  vertical-align: middle;
}

button {
  padding: 0px 0px;
  margin: 0px;
  background-color: transparent;
  border: transparent;
  border-radius: 0px;
  cursor: pointer;
}

button:hover {
  padding: 0px 0px;
  background-color: transparent;
  border: transparent;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.section-hero {
  height: 900px;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  margin: 0px 0px;
  padding: 0px 0px;
  overflow: hidden;
  list-style: none;
}

#wrapper {
  display: flex;
  background-color: transparent;
  width: 1368px;
  margin: auto;
  overflow: hidden;
  list-style: none;
}

.text-group1 {
  order: 2;
  background-color: transparent;
  align-items: left;
}

.header-hero {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: black;
  max-width: 400px;
  background-color: transparent;
  text-decoration: none;
}

.text-hero {
  text-align: left;
  font-family: -apple-system, "San Francisco", sans-serif;
  font-weight: 400;
  font-size: 23px;
  margin: 0px;
  padding-bottom: 50px;
  color: black;
  max-width: 450px;
  background-color: transparent;
  text-decoration: none;
}

.download-buttons {
  background-color: transparent;
  kerning: 10px;
  justify-content: space-between;
}

.divider {
  height: auto;
  width: 10px;
  display: inline-block;
}

.hero-image {
  margin: 0px;
  width: 700px;
  height: 100%;
  order: 1;
  background-color: transparent;
}

.section-myeducare {
  height: 550px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: #1683ff;
  margin: 0px 0px;
  padding: 0px 0px;
  justify-items: flex;
}

.header1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 5px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

.text1 {
  text-align: center;
  font-family: -apple-system, "San Francisco", sans-serif;
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  max-width: 870px;
  background-color: transparent;
  text-decoration: none;
}

hr {
  display: block;
  width: 70px;
  height: 2px;
  border: 3px solid rgb(241, 241, 241);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  padding: 0;
}

.header-light0 {
  text-align: center;
  margin: 0px 84px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.header-bold0 {
  text-align: center;
  margin: 0px 84px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.text0 {
  margin: 0px auto;
  text-align: center;
  padding-top: 15px;
  font-family: -apple-system, "San Francisco", sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: black;
  max-width: 870px;
  background-color: transparent;
  text-decoration: none;
}

.header-light {
  text-align: left;
  margin: 0px 84px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.header-bold {
  text-align: left;
  margin: 0px 84px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.text2 {
  margin: 0px 84px;
  text-align: left;
  padding-top: 15px;
  font-family: -apple-system, "San Francisco", sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: black;
  max-width: 500px;
  background-color: transparent;
  text-decoration: none;
}

.image-icons {
  margin: 15px 84px;
  width: 12%;
  border: 0.3px solid #f0f0f0;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 10px #33333310);
}

.section0 {
  height: auto;
  align-items: center;
  background-color: #f6f6f6;
  margin: auto;
  padding-top: 100px;
}

.image-center {
  align-items: center;
  margin: auto;
  display: flex;
  padding: auto;
}

.image-section0 {
  padding-top: 10px;
  margin: auto;
  width: 40%;
  align-self: center;
  background-color: transparent;
}

.text-group0 {
  background-color: transparent;
  align-items: center;
}

.section1 {
  height: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: #ffffff;
  margin: 0px 0px;
  padding: 0px 0px;
  justify-items: flex;
}

.image-section1 {
  margin: 0px;
  width: 700px;
  height: 100%;
  order: 1;
  background-color: transparent;
}

.text-group2 {
  order: 2;
  background-color: transparent;
  align-items: left;
}

.section2 {
  height: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: #f6f6f6;
  margin: 0px 0px;
  padding: 0px 0px;
  justify-items: flex;
}

.image-section2 {
  margin: 0px;
  width: 700px;
  height: 100%;
  order: 2;
  background-color: transparent;
}

.text-group3 {
  order: 1;
  background-color: transparent;
  align-items: left;
}

.section3 {
  height: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: #ffffff;
  margin: 0px 0px;
  padding: 0px 0px;
  justify-items: flex;
}

.image-section3 {
  margin: 0px;
  margin-left: 75px;
  width: 550px;
  height: 100%;
  order: 1;
  background-color: transparent;
}

.text-group4 {
  order: 2;
  background-color: transparent;
  align-items: left;
}

.watch-video {
  padding: 16px 32px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: rgb(156, 156, 156);
  border: 2px solid #0077ff;
  font-size: 18px;
  margin: 30px 84px;
  border-radius: 80px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.watch-video:hover {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: #0077ff;
  border: 2px solid #0077ff;
  font-size: 18px;
  margin: 30px 95px;
  border-radius: 80px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.container-plans {
  width: 1368px;
  display: flex;
  padding: 0px;
  align-self: center;
  justify-content: center;
  background-color: transparent;
  margin: auto;
}

.container > div {
  width: 1368px;
  margin: auto;
  padding: 0px;
  align-self: center;
  background-color: transparent;
}

.plans {
  width: auto;
  height: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  padding: 40px 0px;
  margin: auto;
}

.text-group4 {
  order: 2;
  background-color: transparent;
  align-items: left;
}

.text-ourplans {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: black;
  width: wrap;
  background-color: transparent;
  text-decoration: none;
}

.text3 {
  text-align: center;
  font-family: -apple-system, "San Francisco", sans-serif;
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 40px;
  color: rgb(88, 88, 88);
  max-width: 870px;
  background-color: transparent;
  text-decoration: none;
}

.line-left {
  margin-left: 0px;
}

#plan-box {
  border-radius: 15px;
  background: #ffffff;
  margin-top: 20px;
  margin-bottom: 140px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 40px;
  width: 400px;
  height: wrap;
  transition-duration: 0.4s;
  filter: drop-shadow(0px 0px 50px #33333305);
}

#plan-box:hover {
  border-radius: 15px;
  background: #ffffff;
  margin-top: 0px;
  margin-bottom: 140px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 40px;
  width: 400px;
  height: wrap;
  transition-duration: 0.4s;
  filter: drop-shadow(0px 0px 50px #3333331e);
}

.plan-name {
  text-align: left;
  padding-top: 10px;
  font-family: -apple-system, "San Francisco", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: black;
  max-width: 500px;
  background-color: transparent;
}

.price {
  text-align: left;
  font-family: -apple-system, "San Francisco", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #0077ff;
  max-width: 500px;
  background-color: transparent;
}

.text-gray {
  text-align: left;
  font-family: -apple-system, "San Francisco", sans-serif;
  font-weight: 570;
  font-size: 20px;
  color: rgb(146, 146, 146);
  max-width: 500px;
  background-color: transparent;
}

.text-plans {
  text-align: left;
  padding: 10px 0px;
  font-family: -apple-system, "San Francisco", sans-serif;
  font-weight: 590;
  font-size: 22px;
  color: #7a7a7a;
  max-width: 500px;
  background-color: transparent;
}

.button1 {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: rgb(156, 156, 156);
  border: 2px solid rgb(156, 156, 156);
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 80px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1:hover {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: #0077ff;
  border: 2px solid #0077ff;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 80px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #0077ff;
  color: white;
  border: 2px solid #0077ff;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 80px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2:hover {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #005ac2;
  color: white;
  border: 2px solid #005ac2;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 80px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.basic {
  order: 1;
  background-color: transparent;
  align-items: center;
  margin: 0px;
}

.standard {
  order: 2;
  background-color: transparent;
  align-items: center;
}

.premium {
  order: 3;
  background-color: transparent;
  align-items: center;
  margin: 0px;
}

.info {
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: #0077ff;
  margin: 0px 0px;
  padding: 0px 0px;
  justify-items: flex;
}

.text-info {
  font-size: 19px;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: 0px 5px;
}

.container-info {
  list-style-type: none;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.reviews {
  height: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 0px 0px;
  padding: 40px 0px;
}

.header-reviews {
  background-color: transparent;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: black;
  width: wrap;
  background-color: transparent;
  text-decoration: none;
}

.review1 {
  width: 1368px;
  align-self: center;
  background-color: white;
  border: 0.5px solid rgb(247, 247, 247);
  padding: 30px;
  font-family: -apple-system, "San Francisco", sans-serif;
  font-size: 18px;
  margin: 30px auto;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 50px #33333313);
}

.section-customers {
  background-color: #ffffff;
  padding-bottom: 150px;
}

#slideshow {
  height: 200px;
  width: 1368px;
  background-color: transparent;
  background-image: url("images/image-loop.png");
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
  line-height: 200px;
  /*
   filter: grayscale();
   opacity: 50%;
   */
  transition-duration: 0.4s;
}

/*

 #slideshow:hover {
   height: 200px;
   width: 1368px;
   background-color: transparent;
   background-image: url('images/image-loop.png');
   background-repeat: repeat-x;
   animation: animatedBackground 30s linear infinite;
   line-height: 400px;
   filter: none;
   opacity: 100%;
   transition-duration: 0.4s;
 }

*/

.text-customers {
  background-color: transparent;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: black;
  width: wrap;
  background-color: transparent;
  text-decoration: none;
}

.footer {
  align-items: center;
  margin: 0px;
  background-color: #1a1a1a;
  width: auto;
  height: wrap;
  padding-top: 75px;
}

.logo-edusoft {
  width: 100px;
  height: 100px;
  filter: grayscale();
  transition: 0.7s;
}

/*
.logo-edusoft:hover {
   width: 100px;
   height: 100px;
   filter: grayscale(5%);
   transition: 0.7s;
}
   */

.footer-text {
  font-family: -apple-system, "San Francisco", sans-serif;
  font-size: 18px;
  color: #818181;
  font-weight: 700;
  padding: 7px;
}

.footer-group {
  align-items: left;
  margin: 0px;
  background-color: none;
}

.line-footer {
  width: auto;
  margin-top: 50px;
  border: 0.2px solid rgb(46, 46, 46);
}

.copyright {
  padding-bottom: 10px;
  width: 1368px;
}
